<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Car Dealership Page</h1>
            <div class = "container">
                <h2>You posted the following car:</h2>

                     <li>{{car.getMake}}</li>
                    <li>{{car.getPrice}}</li>

            </div>
            <p><a href='/'>go back</a></p>
    </body>
</html>
